body{
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
}

h1, h3, p {
	color: black;
	text-decoration: none;
}

.header-section{
	width: 100%;
	padding: 30px 0 15px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 7fr 2fr;
	justify-content: center;
	display: flex;
}

.restaurant__photo__entete{
  width: 100%;
}
.restaurant__photo__entete__image{
  width: 100%;
  object-fit: cover;
  position: relative;
}

.restaurant__section{
  background-color: whitesmoke;
}

.restaurant__container{
  margin-top: -85px;
  position: absolute;
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  border-radius: 20px 20px 0 0 ;
  padding-bottom: 4%;
}

header{
    background-color: red;
}

.menu__entree__card{
  width: 90%;
	background-color: white;
	margin: auto;
	border-radius: 20px;
	margin-bottom: 5%;
}
