body{
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Roboto';
}

@media screen and (min-width: 768px) and (max-width: 1280px){
  body{
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  body {
      max-width: 100%;
  }
}

h1, h3, p {
	color: black;
	text-decoration: none;
}

/* header */
.header__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container a{
  margin-right: 1%;
  color: black;
  font-weight: 500;
  font-size: xx-large;
}

.header-section{
	width: 100%;
	padding: 30px 0 15px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 7fr 2fr;
	justify-content: center;
	display: flex;
}

img.header-logo{
  height: 70%;
}

@media screen and (min-width: 1280px) {
  img.header-logo {
      height: 100%;
  }
}

/* photo restaurant */
.restaurant__photo__entete{
  width: 100%;
  max-height: 30%;
}
.restaurant__photo__entete__image{
  width: 100%;
  object-fit: cover;
  position: relative;
  max-height: 450px;
}

.restaurant__section{
  background-color: whitesmoke;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .restaurant__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
  }
  .menu__btn{
    justify-content: center;
    grid-column: 2 / 3;
  }
}

/* nom du restaurant et coeur */
.restaurant__container{
  margin-top: -75px;
  position: absolute;
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  border-radius: 20px 20px 0 0 ;
}

.restaurant__titre{
  font-family: "shrikhand";
  padding-left: 6%;
}

@media screen and (min-width: 1280px){
  .restaurant__titre{
    padding-left: 2%;
  }
}

.restaurant__titre__heart button{
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1280px){
  .restaurant__titre__heart button:focus > .fa-heart{
  font-weight: 900;
  background: linear-gradient(to top left, #9356DC, 55%, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}

.restaurant__titre__heart{
  margin-right: 14px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.fa-heart {
  font-size: x-large;
}
.fa-heart:hover{
  font-weight: 900;
  background: linear-gradient(to top left, #9356DC, 55%, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border{
  border-top: solid;
  border-top-color: #99E2D0;
  width: 40px;
  position: relative;
  bottom: 3px;
  margin-left: 6%;
}

/* titres des plats */
.menu__titre{
  padding-left: 6%;
  font-size: 16px;
  font-weight: normal;
}

/* cards */
.menu__entree{
  padding-top: 5px;
}

.restaurant__card__text{
  width: 80%;
}

.menu__card__titre{
  width: 100%;
  font-weight: 700;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__card__prix{
  font-weight: 700;
}

.menu__card__soustitre{
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__card{
  width: 90%;
  background-color: white;
  margin: auto;
  margin-bottom: 5%;
  height: 65px;
  border: none;
  text-align: left;
  border-radius: 20px;
  box-shadow: 2px 3px 5px #e6e6e6;
  display: flex;
  justify-content: space-between;
  animation: apparition 1.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.restaurant__card__text{
  margin-left: 2%
}

/* animation cards */
.animation{
  display: flex;
}

.menu__entries__card__wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 100%;
  background-color: #99E2D0;
  opacity: 0;
  border-radius: 0 20px 20px 0;
}

.menu__card:hover .menu__entries__card__wrapper-icon{
  animation: slide 2s;
}

.menu__card:hover .fa-check-circle{
  animation: rotation 2s;
  font-size: x-large;
  color: white;
  font-weight: 900;
}

.fa-check-circle{
  opacity: 0;
}


/* boutton commander */
.menu__btn{
  width: 100%;
  justify-content: center;
  display: flex;
  padding-bottom: 5%;
}

.btn{
	background: linear-gradient(to top left, #9356DC, 55%, #FF79DA);
  color: white;
  padding: 15px 20px 15px 20px;
  border-radius: 30px 30px 30px 30px;
	border: none;
  margin: auto;
}

/* footer */
.footer{
	color: white;
  background-color: rgb(70, 70, 70);
  padding: 20px 15px 30px 25px;
}

.footer__logo{
	color: white;
  font-family: "Shrikhand";
  font-size: larger;
}

footer h4{
  margin-top: 0;
  font-weight: normal;
  padding-bottom: 15px;
  margin-left: 2%;
}

footer ul{
  margin-bottom: 0;
  list-style-type: none;
}

/* animations */
@keyframes slide {
  0% {
  }

  100% {
      opacity: 1;
      width: 4rem;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
